body {
  color: #656565;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #353535;
  font-weight: 300;
  line-height: 1.5em;
}

.navbar {
  background-color: #262626;
}

.navbar-header {
  margin-left: 140px;
}

.nav {
  margin-left: 80px;
}

#logo-html {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}


nav h1 {
  color: #2BA6CB;
  font-size: 20px;
  display: inline;
  padding-left: 10px;
}

nav h1 span {
  color: white
}

#cover {
  background-image: url("cover.jpg");
  height: 30em;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 1;
  border-bottom: 8px solid #00A1CC;
}

#yeti {
  background-image: url("foundation4_yeti.png");
  width: 100%;
  height: 25em;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  right: 70px;
  z-index: 2;
}

#text-inside {
  color: #ffffff;
  text-shadow: 1px 1px 1px #444;
  padding-left: 150px;
}

#text-inside h1 {
  padding-top: 70px;
  color: #FFFFFF;
}

#text-inside h2 {
  color: #FFFFFF;
}

.icon-group {
  margin: 50px 50px 0 50px;
  text-align: center;
}

.icon-group h4 {
  color: #373737;
  padding-bottom: 20px;
}

.icon-group p {
  color: #656565;
  padding-bottom: 20px;
}

.icon-group a {
  text-decoration: none;
  color: #1CADD2;
}

.screen-icon {
  background-color: #1CADD2;
  border-radius: 50%;
  margin: 70px 0 30px 0;
}

.mobile-icon {
  background-color: #1CADD2;
  border-radius: 50%;
  margin: 70px 0 30px 0;
}

.html5-icon {
  background-color: #1CADD2;
  border-radius: 50%;
  margin: 70px 0 30px 0;
}

.valise-icon {
  background-color: #1CADD2;
  border-radius: 50%;
  margin: 70px 0 30px 0;
}

#sub-header {
  background-color: #F9F8F8;
  text-align: center;
  margin-top: 30px;
}

.recent h4 {
  text-align: center;
}

.recent p {
  text-align: center;
}

.logos {
  background-color: #F9F8F8;
  margin-top: 50px;
}
